@using FileSystem.Models
@model CreateFolderViewModel
           
@Styles.Render("~/Content/bootstrap-select")

<form class="form-horizontal" id="formFolder" role="form">
    @Html.AntiForgeryToken()
    <h4>Create folder to current path</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.FolderName, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.FolderName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserPermission, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.UserPermission, new SelectList(Enum.GetValues(typeof(EUserPermission))), new { @id = "permissionFolder", @class = "selectpicker" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="button" onclick="createFolder(this)" class="btn btn-default" value="Apply" />
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#permissionFolder').selectpicker();
    });
</script>