@model IList<FileSystemDAL.Models.Files>

<table id="fileListTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>File Name</th>
            <th>Extension</th>
            <th>Size</th>
            <th>Date</th>
            <th>Delete</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>
                    @file.FileId
                </td>
                <td>
                    @file.FileNames
                </td>
                <td>
                    @file.FileExtension
                </td>
                <td>
                    @file.FileSize
                </td>
                <td>
                    @file.DateAttach
                </td>
                <td>
                    <button type="button" onclick="deleteFile(this)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                </td>
                <td>
                    <button type="button" onclick="downloadFile(@file.FileId)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-cloud-download"></span> Download</button>
                </td>
            </tr>
        }
    </tbody>
</table> 

<script type="text/javascript">
    $(document).ready(function () {
        $('#fileListTable').dataTable({
            'bSortClasses': false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": ["_all"] }],
            "aoColumns": [{ "bSearchable": false }, { "bSearchable": true }, { "bSearchable": false }, { "bSearchable": false }, { "bSearchable": false }, { "bSearchable": false }, { "bSearchable": false }],
        });
    });

    var downloadFile = function (fileId) {
        window.location.href = "/Repository/DownloadFile?fileId=" + fileId;
    };

    var lockDelete = false;
    var deleteFile = function (button) {
        if (lockDelete == false) {
            lockDelete = true;
            $(button).off('click', deleteFile);
            var rowIndex = $('#fileListTable').dataTable().fnGetPosition($(button).closest('tr')[0]);
            var rowData = $('#fileListTable').dataTable().fnGetData(rowIndex);
            $.ajax({
                url: '@Url.Action("DeleteFile")',
                type: "POST",
                dataType: 'JSON',
                data: {
                    'fileId': rowData[0],
                },
                success: function () {
                    $('#fileListTable').dataTable().fnDeleteRow(rowIndex);
                    lockDelete = false;
                },
                error: function () {
                    lockDelete = false;
                }
            });
        }
    };
</script>