@using System.Globalization
@using System.Security.Claims
@using FileSystemDAL.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - File System Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @{
        var claimsIdentity = User.Identity as ClaimsIdentity;
        Claim permission = null;
        if (claimsIdentity != null)
        {
            permission = claimsIdentity.FindFirst("Permission");
        }
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("File System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        if (permission != null)
                        {
                            var permVal = int.Parse(permission.Value);

                            if (permVal == (int)EPermission.Admin)
                            {
                                <li>@Html.ActionLink("Repositories", "Index", "RepositoryManagement")</li>
                            }
                            else if(permVal == (int)EPermission.RepositoryAdmin)
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Accounts
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Create User", "CreateUser", "AccountManagement")</li>
                                        <li>@Html.ActionLink("Users Management", "UserManagement", "AccountManagement")</li>
                                    </ul>
                                </li>        
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Friends
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Search Friend", "SearchFriend", "FriendsManagement")</li>
                                        <li>@Html.ActionLink("Invitations to Friends", "Invitation", "FriendsManagement")</li>
                                        <li>@Html.ActionLink("Friends List", "FriendsList", "FriendsManagement")</li>
                                    </ul>
                                </li>
                            }
                            
                            if(permVal >= (int)EPermission.RepositoryAdmin)
                            { 
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Repository
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("My Repository", "MyRepository", "Repository")</li>
                                        <li>@Html.ActionLink("Friends Repository", "FriendsRepository", "Repository")</li>
                                    </ul>
                                </li>
                            }
                        }
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright Tomasz Nocoń</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
